.btn-primary
{
background-color: purple;
}

.btn-primary:hover
{
  background-color: black;
  transition-duration: 2s;
}

.container
{
  width: 100%;
  border: 2px dashed pink;
}

.col-xl-12
{
  background-color: grey;
}

.jumbotron
{
  background-color: #ffcccc;
}

.w3-container

{font-size: 14px;
width: 100%;
justify-content: center;}