.btn-primary
{
background-color: purple;
}

.btn-primary:hover
{
  background-color: black;
  transition-duration: 2s;
}

* body
{
	font-family: Roboto, sans-serif;
	background-color: #ffcccc;
}
